<div class="container bg-light ">
        <h3>Login</h3>
        <form #frm='ngForm' (ngSubmit)='validate()'>
            <div class = "form-group">
                    <label for="">Username: </label>
                    <input type="text" name='username' [(ngModel)]='user.userName'>
            </div>
            <div>
                <label for="">Password: </label>
                <input type="password" name='password' [(ngModel)]='user.password'>
            </div>
            <input type="submit" value='Login'>            
            
        </form>
        {{status}}
</div>

